<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!--
	See DataPipelines module for documentation of this file. Including resources for each section to learn more.

	NOTE: This module is under development. Data collection and accessed-API
	declarations will be added when the visual inbox functionality is implemented.
	-->
	<key>NSPrivacyCollectedDataTypes</key>
	<array>
	</array>

	<key>NSPrivacyAccessedAPITypes</key>
	<array>
	</array>

	<key>NSPrivacyTracking</key>
	<false/>
</dict>
</plist>
