<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001564516023-m61q1p2tfs977bta7fdfer35c3d4nrt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001564516023-m61q1p2tfs977bta7fdfer35c3d4nrt8</string>
	<key>API_KEY</key>
	<string>AIzaSyApOVYacWweX4ab6a3rf8CmjqI4PmUvnEI</string>
	<key>GCM_SENDER_ID</key>
	<string>1001564516023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.customer.ios-sample.apn-spm.APN-UIKit</string>
	<key>PROJECT_ID</key>
	<string>remote-habits</string>
	<key>STORAGE_BUCKET</key>
	<string>remote-habits.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001564516023:ios:8984818c384aafb51a2732</string>
</dict>
</plist>