# because our Podfile is always using a local absolute path for the CIO SDK, 
# ignore the lock file since every computer (and CI server) will have a different path. 
# As long as we don't add non-CIO SDK dependencies to our sample apps, we don't 
# need a lockfile. 
Podfile.lock 
Pods/