name: Tests

on: 
  pull_request:
  push:
    branches: [main] # code coverage reporting needs to be on main so all PRs can compare against it. 

concurrency: # cancel previous workflow run if one exists. 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    uses: customerio/mobile-ci-tools/.github/workflows/ios-test.yml@shared-ios-ci
    with:
      scheme: 'Customer.io-Package'
      xcresult-name: 'Customer.io-Package.xcresult'
    secrets:
      CODECOV_UPLOAD_TOKEN: ${{ secrets.CODECOV_UPLOAD_TOKEN }}  
  

